In [3]:
# The code was removed by Watson Studio for sharing.

,ID,Outlet,Sales Reps,Region,Brand,SKU,Quantity (Cartons),Amount,Month
0,3,Jay Store,Titi,North,B,Sweet,2,8514,2020-01-04
1,3,Jay Store,Titi,North,B,Sweet,2,20968,2020-01-07
2,3,Jay Store,Titi,North,B,Sweet,1,11352,2020-01-23
3,3,Jay Store,Titi,North,B,Sweet,1,11352,2020-01-01
4,3,Jay Store,Titi,North,B,Sweet,1,10811,2020-01-06
5,3,Jay Store,Titi,North,C,Tobacco,2,27244,2020-01-10
6,3,Jay Store,Titi,North,C,Tobacco,1,9907,2020-01-09
7,3,Jay Store,Titi,North,C,Tobacco,2,11920,2020-01-13
8,3,Jay Store,Titi,North,C,Tobacco,1,13622,2020-01-08
9,3,Jay Store,Titi,North,C,Tobacco,1,13622,2020-01-12
10,3,Jay Store,Titi,North,C,Tobacco,1,18163,2020-02-01
11,3,Jay Store,Titi,North,C,Tobacco,1,18163,2020-02-02
12,3,Jay Store,Titi,North,C,Tobacco,1,9907,2020-02-03
13,3,Jay Store,Titi,North,C,Tobacco,2,11920,2020-02-01
14,3,Jay Store,Titi,North,X,Chocolate,2,27244,2020-02-04
15,3,Jay Store,Titi,North,X,Chocolate,1,18163,2020-02-05
16,4,Ken Store,Mary,South,A,Soap,12,1260,2020-02-28
17,4,Ken Store,Mary,South,Z,Juice,2,1860,2020-02-01
18,4,Ken Store,Mary,South,Z,Juice,5,14000,2020-02-15
19,4,Ken Store,Mary,South,Y,Diaper,2,13800,2020-02-01

# LINEAR REGRESSION

In [8]:
DF_input=df_data_1[['ID','Outlet','Sales Reps','Region','Brand','SKU','Quantity (Cartons)', 'Amount']]
DF_input.head()

   ID     Outlet Sales Reps Region Brand    SKU  Quantity (Cartons)  Amount
0   3  Jay Store       Titi  North     B  Sweet                   2    8514
1   3  Jay Store       Titi  North     B  Sweet                   2   20968
2   3  Jay Store       Titi  North     B  Sweet                   1   11352
3   3  Jay Store       Titi  North     B  Sweet                   1   11352
4   3  Jay Store       Titi  North     B  Sweet                   1   10811

In [9]:
DF_input["Outlet"].unique()

array(['Jay Store', 'Ken Store', 'Osse Store', 'Nava Store',
       'Dem Papa Store', 'God Knows Store', 'Mummy B', 'TEX Store',
       'Zone 9 Store'], dtype=object)

In [10]:
DF_input["SKU"].unique()

array(['Sweet', 'Tobacco', 'Chocolate', 'Soap', 'Juice', 'Diaper', 'Wine'],
      dtype=object)

In [11]:
DF_input["Region"].unique()

array(['North', 'South', 'East', 'West'], dtype=object)

To Change all categorical columns to numerical to allow for Machine Learning Processing

In [12]:
pd.get_dummies(DF_input["Outlet"]).head(10)

,Dem Papa Store,God Knows Store,Jay Store,Ken Store,Mummy B,Nava Store,Osse Store,TEX Store,Zone 9 Store
0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0
5,0,0,1,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0
7,0,0,1,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,0

In [13]:
pd.get_dummies(DF_input["Region"]).head(10)

   East  North  South  West
0     0      1      0     0
1     0      1      0     0
2     0      1      0     0
3     0      1      0     0
4     0      1      0     0
5     0      1      0     0
6     0      1      0     0
7     0      1      0     0
8     0      1      0     0
9     0      1      0     0

In [14]:
pd.get_dummies(DF_input["SKU"]).head(10)

   Chocolate  Diaper  Juice  Soap  Sweet  Tobacco  Wine
0          0       0      0     0      1        0     0
1          0       0      0     0      1        0     0
2          0       0      0     0      1        0     0
3          0       0      0     0      1        0     0
4          0       0      0     0      1        0     0
5          0       0      0     0      0        1     0
6          0       0      0     0      0        1     0
7          0       0      0     0      0        1     0
8          0       0      0     0      0        1     0
9          0       0      0     0      0        1     0

In [15]:
DF_input=pd.get_dummies(DF_input)

In [16]:
DF_input.head()

,ID,Quantity (Cartons),Amount,Outlet_Dem Papa Store,Outlet_God Knows Store,Outlet_Jay Store,Outlet_Ken Store,Outlet_Mummy B,Outlet_Nava Store,Outlet_Osse Store,...,Brand_X,Brand_Y,Brand_Z,SKU_Chocolate,SKU_Diaper,SKU_Juice,SKU_Soap,SKU_Sweet,SKU_Tobacco,SKU_Wine
0,3,2,8514,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,2,20968,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,11352,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,1,11352,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,3,1,10811,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
from sklearn import preprocessing
DF_input_column_names = DF_input.columns.values
DF_input_np=preprocessing.minmax_scale(DF_input)
Reg_input_scaled=pd.DataFrame(DF_input_np, columns=DF_input_column_names)
Reg_input_scaled=pd.DataFrame(DF_input_np, columns=DF_input_column_names)

In [18]:
Reg_input_scaled.head()

,ID,Quantity (Cartons),Amount,Outlet_Dem Papa Store,Outlet_God Knows Store,Outlet_Jay Store,Outlet_Ken Store,Outlet_Mummy B,Outlet_Nava Store,Outlet_Osse Store,...,Brand_X,Brand_Y,Brand_Z,SKU_Chocolate,SKU_Diaper,SKU_Juice,SKU_Soap,SKU_Sweet,SKU_Tobacco,SKU_Wine
0,0.25,0.002809,0.018099,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.25,0.002809,0.044575,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.25,0.000000,0.024133,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.25,0.000000,0.024133,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.25,0.000000,0.022983,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

PERFORM SPLITING AND TRAINING OF DATASETS (test split of 80% training and 20% testing )

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(Reg_input_scaled,df_data_1['Quantity (Cartons)'], test_size=0.2,random_state=42)

In [24]:
from sklearn.linear_model import LinearRegression

Instantiate the model

In [25]:
regr = LinearRegression()

In [26]:
regr.fit(X_train, Y_train)

LinearRegression()

In [27]:
Y_pred = regr.predict(X_test)

In [28]:
print('Coefficients: \n', regr.coef_)

Coefficients:
 [-1.59392205e-13  3.56000000e+02 -2.19727611e-13  3.06230582e-13
  2.99470888e-14  2.72119508e-13 -1.44006722e-13 -7.93562077e-14
 -1.46525406e-13 -2.69466052e-15 -9.41099383e-17 -3.81690083e-14
 -1.19098146e-14 -5.83900362e-15  1.41202133e-13  2.21743352e-14
 -5.27764383e-14 -1.16291274e-13 -1.96838698e-13 -2.03051696e-14
 -1.76777631e-13  1.73909948e-13  2.59567413e-13  1.96945801e-13
 -6.23423881e-14 -1.49967182e-13 -3.74883472e-14 -4.16332380e-14
  1.03393988e-13 -1.07370805e-13 -1.24962298e-14  1.03393988e-13
  3.47377426e-14 -1.24962298e-14  1.13764207e-14  1.05828202e-13
 -9.06663774e-15 -7.00549474e-14]

In [29]:
Reg_input_scaled.columns.values

array(['ID', 'Quantity (Cartons)', 'Amount', 'Outlet_Dem Papa Store',
       'Outlet_God Knows Store', 'Outlet_Jay Store', 'Outlet_Ken Store',
       'Outlet_Mummy B', 'Outlet_Nava Store', 'Outlet_Osse Store',
       'Outlet_TEX Store', 'Outlet_Zone 9 Store', 'Sales Reps_Abbas',
       'Sales Reps_Boma', 'Sales Reps_Mary', 'Sales Reps_Oyema',
       'Sales Reps_Seyi', 'Sales Reps_Soky', 'Sales Reps_Titi',
       'Sales Reps_Uche', 'Region_East', 'Region_North', 'Region_South',
       'Region_West', 'Brand_A', 'Brand_B', 'Brand_C', 'Brand_D',
       'Brand_X', 'Brand_Y', 'Brand_Z', 'SKU_Chocolate', 'SKU_Diaper',
       'SKU_Juice', 'SKU_Soap', 'SKU_Sweet', 'SKU_Tobacco', 'SKU_Wine'],
      dtype=object)

In [30]:
print('intercept: \n', regr.intercept_)

intercept:
 0.9999999999998757

In [31]:
from sklearn.metrics import mean_squared_error
print("Mean squared error: %.2f" % mean_squared_error(Y_test, Y_pred))

Mean squared error: 0.00